---
layout: default
title: Hi, I'm Simon Thulbourn
---

<section id="blurb">
	<p>I also have a <a href="http://twitter.com/sthulbourn" title="@sthulbourn on Twitter">twitter</a> account, you should follow me.</p>
	
	<p>I was the first person to become a <a href="http://facebook.com/sthulbourn" title="Simon Thulbourn on Facebook">facebook</a> zombie, you can <a href="not_dead.html" title="How I became a Facebook zombie">read about that if you want</a>, but you might have read about it somewhere else.</p>
</section>

{% if site.posts %}
<section>
	<heading>Articles</heading>
	<ul id="articles">
		{% for post in site.posts %}
			<li><time datetime="{{ post.date | date: "%Y-%m-%d" }}" pubdate>{{ post.date | date: "%d-%m-%Y" }}</time> &mdash; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
 </section>
 {% if user %}