<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/normalize.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8">
	<title>{{ page.title }}</title>
</head>
<body>
	<div id="container">
		<header>
			<h1><a href="/" title="Simon Thulbourn">Hi, I'm Simon Thulbourn</a></h1>
			<h2>I'm a software engineer, a runner, and (hopefully) a technical writer.</h2>
		</header>
		
		<section id="content">
			<header>
				<h3>{{ page.title }}</h3>
				<h4><time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>{{ page.date | date_to_string }}</time></h4>
			</header>
			
			<article>
				{{ content }}
			</article>
		</section>

		<footer>
			<p>You can <a href="mailto:website _at_ thulbourn _dot_ com" title="Email me">email me</a> if you want to get in contact, <a href="http://twitter.com/sthulbourn" alt="@sthulbourn on Twitter">twitter</a> is fine too.</p>
		</footer>
	<div>
</body>
</html>