<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/normalize.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8">
	<title>{{ page.title }}</title>
</head>
<body>
	<div id="container">
		<header>
			<h1><a href="/" title="Alex Forrow">Alex Forrow</a></h1>
			<h2>Nothing here.</h2>
		</header>
		
		{{ content }}
		
		<!-- <footer>
			<p>You can <a href="mailto:TODO" title="Email me">email me</a> if you want to get in contact, <a href="http://twitter.com/alexforrow" alt="@sthulbourn on Twitter">twitter</a> is fine too.</p>
		</footer> -->
	<div>
</body>
</html>
